<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RushPhoneCall_iOS10.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>06501B521E6BAAB300F899A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06501B661E6BAAB400F899A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06501B711E6BAAB400F899A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
