<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RushUSNationalParks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0684AFEF1E5CAE7B0054FBB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0684B0031E5CAE7B0054FBB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0684B00E1E5CAE7B0054FBB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
